<div class="row">
	<h2 class="col-xs-12">New Recipes</h2>
</div>
<div class="row">
	{{#if recipes}}
		{{#each recipes}}
		<div class="col-xs-4 recipe-card">
			{{#if image}}
				<a href="/recipe/view/{{id}}"><img class="recipe-card-image thumbnail-fit img-responsive" src="/finalUpload/{{image}}" alt="{{title}}"></a>
			{{/if}}
			<div class="caption">
				<h3><a href="/recipe/view/{{id}}">{{title}}</a></h3>
				<p>{{description}}</p>
			</div>
		</div>
		{{/each}}
	{{else}}
		<div class="col-lg-12">
			<p>No recipes.  <a href="/recipe/new">Enter a new recipe</a></p>
		</div>
	{{/if}}
</div>
{{#if allRecipes}}
	<div class="row">
		<h2 class="col-xs-12">All Recipes</h2>
	</div>
	<div class="row">
		{{#each allRecipes}}
			<div class="col-xs-4 recipe-card">
				{{#if image}}
					<a href="/recipe/view/{{id}}"><img class="recipe-card-image thumbnail-fit img-responsive" src="/finalUpload/{{image}}" alt="{{title}}"></a>
				{{/if}}
				<div class="caption">
					<h3><a href="/recipe/view/{{id}}">{{title}}</a></h3>
					<p>{{description}}</p>
				</div>
			</div>
		{{/each}}
	</div>
{{/if}}