<div class="row">
	<div class="slider">
		<ul>
			<li class="slider_slide">
				<a href="/recipe/category/Appetizers">
					<div class="slider_text">
						<h3>Appetizers</h3>
						<p></p>
					</div>
					<img src="/images/appetizer_slider.jpg" class="slider_photo">
				</a>
			</li>
			<li class="slider_slide">
				<a href="/recipe/category/Breads">
					<div class="slider_text">
						<h3>Breads</h3>
						<p></p>
					</div>
					<img src="/images/bread_slider.jpg" class="slider_photo">
				</a>
			</li>
			<li class="slider_slide">
				<a href="/recipe/category/Beverages">
					<div class="slider_text">
						<h3>Beverages</h3>
						<p></p>
					</div>
					<img src="/images/beverages_slider.jpg" class="slider_photo">
				</a>
			</li>
		</ul>
	</div>

	{{!-- <div class="slider">
		<article class="slider_slide">
			<a href="/recipe/category/Appetizers">
				<div class="slider_text">
					<h3>Appetizers</h3>
					<p>These are some lovely appetizers</p>
				</div>
				<img src="/images/appetizers.jpg" class="slider_photo">
			</a>
		</article>
		<article class="slider_slide">
			<a href="/recipe/category/Appetizers">
				<div class="slider_text">
					<h3>Bread</h3>
					<p>These are some lovely appetizers</p>
				</div>
				<img src="/images/bread.png" class="slider_photo">
			</a>
		</article>
		<article class="slider_slide">
			<a href="/recipe/category/Appetizers">
				<div class="slider_text">
					<h3>Appetizers</h3>
					<p>These are some lovely appetizers</p>
				</div>
				<img src="/images/appetizers.jpg" class="slider_photo">
			</a>
		</article>
		<article class="slider_slide">
			<a href="/recipe/category/Appetizers">
				<div class="slider_text">
					<h3>Appetizers</h3>
					<p>These are some lovely appetizers</p>
				</div>
				<img src="/images/appetizers.jpg" class="slider_photo">
			</a>
		</article>
	</div> --}}
</div>
<div class="row">
	<h2 class="col-xs-12">New Recipes</h2>
</div>
<div class="row">
	{{#if recipes}}
		{{#each recipes}}
		<div class="col-xs-4 col-sm-3 recipe-card">
			{{#if image}}
					<a href="/recipe/view/{{id}}"><img class="recipe-card-image thumbnail-fit img-responsive" src="/finalUpload/{{image}}" alt="{{title}}"></a>
			{{/if}}
			<div class="caption">
				<h3><a href="/recipe/view/{{id}}">{{title}}</a></h3>
				<p>{{{trimString description}}}</p>
			</div>
		</div>
		{{/each}}
	{{else}}
		<div class="col-lg-12">
			<p>No recipes.  <a href="/recipe/new">Enter a new recipe</a></p>
		</div>
	{{/if}}
</div>
{{#if allRecipes}}
	<div class="row">
		<h2 class="col-xs-12">All Recipes</h2>
	</div>
	<div class="row">
		{{#each allRecipes}}
			<div class="col-xs-4 col-sm-3 recipe-card">
				{{#if image}}
						<a href="/recipe/view/{{id}}"><img class="recipe-card-image thumbnail-fit img-responsive" src="/finalUpload/{{image}}" alt="{{title}}"></a>
				{{/if}}
				<div class="caption">
					<h3><a href="/recipe/view/{{id}}">{{title}}</a></h3>
					<p>{{{trimString description}}}</p>
				</div>
			</div>
		{{/each}}
	</div>
{{/if}}