<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>{{title}}</title>
		{{!-- Include Bootstrap --}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		{{!-- Custom CSS --}}
	    <link rel='stylesheet' href='/stylesheets/style.css' />
  	</head>
  	<body>
  	
		{{!-- navigation --}}
		<nav class="navbar navbar-default container">
{{!-- 			<div class="container">
 --}}				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
				        {{!-- <span class="sr-only">Toggle navigation</span> --}}
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">The Recipe Binder</a>
				</div> {{!-- navbar-header --}}

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav">
					    {{#if categories}}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recipes <span class="caret"></span></a>
								<ul class="dropdown-menu">
									{{#each categories}}
										<li><a href="/recipe/category/{{category}}">{{category}}</a></li>
									{{/each}}
								</ul> {{!-- dropdown-menu --}}
							</li> {{!-- dropdown --}}
						{{/if}}
						{{#if user}}<li><a href="/recipe/new"><span class="glyphicon glyphicon-plus"></span>New Recipe</a></li>{{/if}}
					</ul>
					<div class="navbar-right">
						{{#if search}}
						<form action="/" method="get" class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
								<button class="btn btn-default" type="submit" style="display: none;">Submit</button>
							</div>
						</form>
						{{/if}}
						<ul class="nav navbar-nav navbar-right user-info">
							{{#if user}}
								<li class="dropdown">
									<a href="#" data-toggle="dropdown" role="button"  class="navbar-right dropdown-toggle" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" ></span>{{user.first_name}} <span class="caret" style="margin-right: 10px;"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/myrecipes">My Recipes</a></li>
										<li class="divider" role="separator"></li>
										<li><a href="/users/logout">Sign out</a></li>
									</ul>
								</li>
							{{else}}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<form action="/users/login" class="login_form" method="POST" class="nav-login-form">
											<input id="user_username" style="margin-bottom: 15px;" type="text" name="username" placeholder="Username" size="30" />
  											<input id="user_password" style="margin-bottom: 15px;" type="password" name="password" placeholder="Password" size="30" />
  											<input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
										</form>
									</ul>
								</li>
							{{/if}}
						</ul>
					</div> {{!-- navbar-right --}}
				</div> {{!-- collapse --}}
{{!-- 			</div> container
 --}}		</nav>
<div class="container main-area">
{{!-- 		<div class="container">
 --}}			{{{body}}}
{{!-- 		</div>
 --}}
{{!-- 		<div class="container">
 --}}			<footer class="navbar-default">
				<p class="text-center">&copy; 2016 - TheRecipeBinder.com</p>
			</footer>
		{{!-- </div> --}}

		{{!-- jQuery CDN --}}
   		<script src="https://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
   		{{!-- Bootstrap JS --}}
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
			<script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
			<script type="text/javascript" src="/javascripts/form_validator.js"></script>
			<!--<script type="text/javascript" src="/javascripts/recipe-card-resize.js"></script>-->
  	</body>
</html>
