{{#if admin}}
	<div class="row">
		<div class="col-xs-2 col-md-1">
			<a class="btn btn-primary btn-lg" href="/recipe/update/{{recipe.id}}">Edit</a>
		</div>
		<div class="col-xs-2 col-md-1">
			<form action="/recipe/delete/{{recipe.id}}?_method=DELETE" method="post">
				<button class="btn btn-danger btn-lg" type="submit">Delete</button>
			</form>
		</div>
	</div>
{{/if}}

<div class="row page-header">
	<div class="col-lg-8">
		<h1>{{recipe.title}}</h1>
	</div>
	
	<div class="col-lg-12">
		<p>{{recipe.description}}</p>
	</div>
</div>
<div class="row">
	<!-- Left column for ingredients -->
	<div class="col-lg-12">
		<div class="col-sm-6 col-xs-6">
			<h2>Ingredients</h2>
			<ul class="list-unstyled ingredients">
				{{#each recipe.ingredients}}
					<li class="ingredient"><span class="glyphicon glyphicon-ok"></span>{{this}}</li>
				{{/each}}
			</ul>
		</div>
		<div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1">
			<!-- right column for picture -->
			{{#if recipe.image}}
				<img src="/finalUpload/{{recipe.image}}" alt="{{recipe.title}}" class="img-responsive recipe-img">
			{{/if}}
		</div>
	</div>
</div>
<!-- Left column for instructions -->
<div class="row">
	<div class="col-sm-6">
		<h2>Instructions</h2>
		<ul class="list-unstyled list-inline prepTimes">
			<li class="prep-logo text-center"><span class="glyphicon glyphicon-time" style="font-size: 3em;"></span></li>
			<li class="prep-time text-center"><p>Prep</p><span>{{recipe.prep_time.hours}}h {{recipe.prep_time.min}}m</span></li>
			<li class="prep-time text-center"><p>Cook</p><span>{{recipe.cook_time.hours}}h {{recipe.cook_time.min}}m</span></li>
			<li class="prep-time text-center"><p>Total</p><span>{{recipe.total_time.hours}}h {{recipe.total_time.min}}m</span></li>
		</ul>
		<ol>
			{{#each recipe.instructions}}
				<li class="instruction">{{this}}</li>
			{{/each}}
		</ol>
	</div>
	<div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-xs-8 col-xs-offset-2">
		<button class="btn btn-default btn-lg btn-block btn-shoppinglist">Add to shopping list</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6">
		<h2>Reviews</h2>
		<div class="review-container">
			{{#each review}}
				<div class="row">
					<div class="review">
						<div class="well well-sm review-header">
							<span class="reviewAuthor">{{name}}</span>
						</div>
						<div class="col-xs-12">
							<p>{{comment}}</p>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</div>